# 파이썬 시작하기

# 자료형

## 자료형과 문자열

### 자료형과 기본 자료형

- 문자열 : 일반적인 글자로 이루어진 문장들, 예) Hello World!
- 숫자 : 예) 1,2,3, 34, ...etc
- bool : True, False

### 자료형 확인하기
- 자료형(data type) 이란 자료의 형식을 의미하며, 파이썬에서는 type() 함술ㄹ 사용하여 확인함.

In [17]:
print(type("안녕하세요")) # <class 'str'>

<class 'str'>

### 문자열 만들기

#### 큰따옴표 또는 작은따옴표로 문자열 만들기

In [20]:
print("안녕하세요") # 안녕하세요
print('Hello Python World!') # Hello Python World!

안녕하세요
Hello Python World!

#### 문자열 내부에 따옴표 넣기

In [23]:
print('"안녕하세요"라고 말했습니다.') # "안녕하세요"라고 말했습니다.
print("'안녕하세요'라고 말했습니다.") # '안녕하세요'라고 말했습니다.

"안녕하세요"라고 말했습니다.
'안녕하세요'라고 말했습니다.

In [25]:
print(''안녕하세요'라고 말했습니다.')  
# 오류발생. ' "" ', 또는 " ' ' " 형식의 따옴표를 이용해야함다.

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2969480764.py, line 1)

#### 이스케이프(Escape) 문자를 사용해 문자열 만들기
- Escape 문자 : 역슬래시(\) 기호와 함께 조합해서 사용하는 특수한 문자를 말함.
- \" : 단순한 큰따옴표를 의미.
- \' : 단순한 작은따옴표를 의미.
- \t : tap 표시
- \n : new line. 줄바꿈

In [27]:
print("\"안녕하세요\"라고 말했습니다.") # "안녕하세요"라고 말했습니다.

"안녕하세요"라고 말했습니다.

#### 줄바꿈 없이 문자열 만들기

In [30]:
# '''    ''' : 이 안에 문장을 입력하면 입력한 형태 그대로 문자열로 인식됨.
print('''
동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세

무궁화 삼천리
''')

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세

무궁화 삼천리

#### 문자열 연산자
- + , * 연산 : 지원됨.
- -, / 연산 : 지원되지 않음.
- 문자 선택 연산자(인덱싱) [] : 지원됨.

In [32]:
print("한글"+"국어")   # "한글" 과 "국어" 를 단순히 연결하는 연산자 "+"

한글국어

In [34]:
print("한글"*3)  # "*" 연산자 : "한글"*3 = "한글한글한글"

한글한글한글

In [35]:
print("한글만세"-"만세")   # 문자열의 "-" 및 "/" 연산은 지원되지 않음.

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [39]:
print("문자 선택 연산자에 대해 알아봅시다.")
print("abcdefg"[0])
print("abcdefg"[1])
print("abcdefg"[2:])   # 슬라이싱

문자 선택 연산자에 대해 알아봅시다.
a
b
cdefg

#### 문자열의 길이 구하기
- len() 함수 사용

In [40]:
print(len("안녕하세요"))  # 문자열의 길이인 5가 반환됨.

5

## 단순 자료형

### 숫자 Number
- int 정수
- float 실수
- complex 복소수 a + bj, 여기서 j 는 허수를 표기함.
- 8진수, 16진수  ; 0o수(0~7)(0o Octal, 8진수 표기),  0x수(0 ~ 16(H))

- int  정수

In [74]:
# 정수 int
a = 123
b = -123
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

    > 정수의 사칙연산
    > +, -, *, /
        >> int / int ==> float 로 변경 됨.
        >> int * int => int 로 유지
        >> int + int => int 로 유지
        >> int - int => int 로 유지

In [75]:
a=4
b = 3
c = 2
print(4+3)
print(4-3)
print(4*3)
print(4/3)
print(type(a*b))
print(type(a/b)) 
print(type(a/c))
print(type(a-b))

7
1
12
1.3333333333333333
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>

In [116]:
import math as m
print(oct(9))       # 10진수 9를 8진수로 표현하면 0o11 이 됨.
hex(12)      # 10진수 12를 16진수로 표현하면 0xc 가 됨.

print((3+4j)+(5+1j))
type((3+4j)+(5+1j))
print(abs(3+4j))
m.sqrt(pow(3,2)+pow(4,2))    # math 라이브러리의 math.pow(x,y) = x^y 를 의미.

0o11
(8+5j)
5.0

5.0

- 실수 floating 소수점이 있는 수
    >
    > 실수 형태
        >> 123.45
        >> 123e3 : 123*10^3 의미
        >> 123e-3 : 123*10^-3

    > 실수의 4칙연산
      >> +, -, * , / 모두 가능함.
      >>

In [77]:
4.0 + 5.0

9.0

In [78]:
a=4.
b = 3.
c = 2.
print(4.+3.)
print(4.-3.)
print(4.*3.)
print(4./3.)
print(type(a*b))
print(type(a/b)) 
print(type(a/c))
print(type(a-b))

7.0
1.0
12.0
1.3333333333333333
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

### 문자열 String

#### 문자열 입력, 수정, 삭제, 추가
    > 문자열 표시 : "abcd" 또는 'abcd' 와 같이 " ", ' ' 안에 표기하면 문자열로 인식하게 됨.
    > 문자열의 할당 : a = "abcd"  또는 'abcd'

In [44]:
a = "abcd"           # a 라는 변수에 문자열 "abcd" 를 할당.
b = '1234'           # b 라는 변수에 문자열 '1234' 를 할당. 숫자를 ' ' 안에 표기하여 비록 숫자이지만 문자로 간주.
print(type(a))       # a 라는 변수에 저장되어 있는 내용이 어떤 형태의 자료형인지를 출력, * str : 문자열 자료형
print(type(b))

<class 'str'>
<class 'str'>

In [45]:
c = """ abcde
  fghg
"""                         # c 라는 변수에 """  """ 안에 문자열을 표기하여 입력한 대로 문자열을 할당하는 방법.
d = 'abc\'def\"한글'        # 문자열 안에 ' 또는 " 의 표기가 필요할 경우는 escape 문자인 \ 뒤에 \' , \" 로 표기하여 문자로 인식하게 함.
e = 'abc"def" 한글'
f = "국제' 한글"
print(c)
print(type(c))
print("c", type(c))
print(d)
print("d",type(d))
print(e)
print("e",type(e))
print(f)
print("f",type(f))

 abcde
  fghg

<class 'str'>
c <class 'str'>
abc'def"한글
d <class 'str'>
abc"def" 한글
e <class 'str'>
국제' 한글
f <class 'str'>

- 문자열의 위치 지정 슬라이싱

In [46]:
a = "세계의 미래"
print(a[0])           # 리스트 츠럼 문자열의 위치를 리스트의 요소 지정방식과 같이 지정하여 출력 할 수 있음.
print(a[1])
print(a[-1])
print(a[1:])          # 슬라이싱 표기를 이용하여 1번 위치의 문제에서 부터 끝까지 출려
print(a[:-5])         # 슬라이싱 표기 [시작위치 : 정지위치]  , 시작위치는 0 부터 시작하여 표기시 포함, 정지위치는 출력에 포함되지 않음.

세
계
래
계의 미래
세

- 입력, 추가, 삭제, 수정

In [95]:
a = 'abcdefg'      # 문자열 입력
print(a)
print()
print()

print(b)
print()
print()

a = ''             # 빈 문자열을 입력하여 기존 문자열 전체를 삭제. 일부 수정은 문자열 메소드인 str.replace('old', 'new', count=1 또는 -1)
                   # count=1 이면 매칭되는 첫 올드 문자열이 뉴 문자열로 한번만 바뀜. count=-1 은 디폴트로 매칭되는 올드 모든 문자열이 치환됨.
print(a)
a = '한글' 
print(a[0])        
a = "인생은 길고 시간은 화살과 같다. 즉 인생도 화살과 같이 빨리 흘러간다"
b = a[0:3]+a[7:9]  # 문자열은 리스트로 처리되며, 본 코드와 같이 슬라이싱 또는 특정 위치를 지정하여 표기할 수 있다.
print(b)

abcdefg


인생은시간



한
인생은시간

In [109]:
# 문자열의 일부를 수정하기 위한 문자열 메소드 replace()
# str.replace('old', 'new', count=1 또는 -1)
# count=1 이면 매칭되는 첫 올드 문자열이 뉴 문자열로 한번만 바뀜. count=-1 은 디폴트로 매칭되는 올드 모든 문자열이 치환됨.

b = '한글'                       # 문자열 전체 치환
b.replace('한','rnr')            # '한' 을 'rnr' 로 치환하여 출력은 하지만 b 의 내용을 변경하지는 않음.
b = b.replace('한','rnr') 
print(b)

c = '동해물과 백두산이 백백백'
c = c.replace('백', 'back')      
print(c)

rnr글
동해물과 back두산이 backbackback

#### 문자열의 사칙연산(+, - , *, /)

    > + 연산  : 문자열과 문자열을 연결함. 즉 "abc" + "bcd" = "abcbcd"
    > - 연산  : 문자열의 - 연산은 불가 함.

In [48]:
# + 연산
a = "동해물"
b = "백두산"
c = a + b
d = a + " " + b
print(c)
print(d)

동해물백두산
동해물 백두산

    > - 연산

In [49]:
a = "동해물"
b = "백두산"
# a-b               # TypeError: unsupported operand type(s) for -: 'str' and 'str'. 문자열의 - 연산은 지원되지 않고 오류 발생됨.

    > * 연산 : 문자열 * 수 = 수만의의 문자열을 연결하여 붙이기.
               문자열 * 문자열 연산은 불가함.
    > / 연산 : 불가

In [50]:
# * (곱) 연산
a = '한글'
b = 'word'
# a * b           # 문자열 * x 에서 x 는 int(정수) 만 가능함.
print(a*3)        # "abc" * 3 = "abcabcabc", 즉 문자열 * n 은 문자열을 n번 연결하는 것 의미
print(a*0)

한글한글한글

In [51]:
# /(나누기) 연산
a = '한글'
b = 'word'
# a / b             # 문자열 / 문자열 : 계산불가, Error
# a/3               # 문자열 / 수 : 계산불가, Error

### 논리형 bool type
> 0 : False
> 
> 0 이 아닌 수 : True

In [52]:
print(bool(1.0))
print(bool(-1.0))
print(bool(0))
print(bool(0.))
# print(bool(aaa)) bool(xxx) xxx 로 대입가능한 종류는 문자는 안되고 나머지 자료형 모두 가능 함.
a =['a', 33, 'c']
b = ('ccc', 'bbb')
print('1+1j',bool(1+1j))
print('list a', bool(a))
print('tuple b',bool(b))

True
True
False
False
1+1j True
list a True
tuple b True

#### 논리형 4칙연산

In [53]:
# bool x bool  연산
f = False     # 0
t = True      # 1
print('f type',type(f))
print('t type', type(t))
print('True * False', type(True * False))

f type <class 'bool'>
t type <class 'bool'>
True * False <class 'int'>

In [54]:
# bool / bool 연산
# False 는 0 으로 치환되어 계산되고 True 는 1 로 치환되어 계산됨.
print('False / True = ',False / True)
# print('True / False = ', True/False) # 1/0 의 계산이므로 Error 발생 됨.
a =['a', 33, 'c']
b = ('ccc', 'bbb')
print('bool(a) / bool(b) = ', bool(a)/bool(b))

False / True =  0.0
bool(a) / bool(b) =  1.0

  > bool 형의 사칙연산 : +, - , * , /

## 파이썬 고유의 자료형 (복합자료형)

### 리스트 list

lass list([iterable])
리스트는 여러 가지 방법으로 만들 수 있습니다:

대괄호를 사용하여 빈 리스트를 표시하기: []

대괄호를 사용하여 쉼표로 항목 구분하기: [a], [a, b, c]

리스트 컴프리헨션 사용하기: [x for x in iterable]

형 생성자를 사용하기: list() 또는 list(iterable)

#### 리스트 선언 및 리스트 요소 입력
- a = []
- a = [1,2,3,'a',True,(3,4)]

In [57]:
a = []
b = [1,2,3,'a',True,(3,4)] # 리스트의 각 요소는 수자, 문자, 리스트, 튜플, 세트, 불 등 제한이 없음.

- 리스트 수정

#### 리스트 수정
- 리스트의 인덱싱과 슬라이싱

In [ ]:
a = [1,2,3,'a',True,(3,4)]
a[0] = "a"                    # 인덱스로 특정 리스트 함옥에 접근하여 대체 입력 함. 1 을 "a" 로 대체 함. 0 은 리스트의 첫번째 요소를 가리키는 인덱스
                              # 인덱스는 0부터 시작해서 1씩 카운트를 더해서 각 리스트 요소를 지정하게 됨.
                              # 인덱스[-1] 은 리스트 맨 끝 요소를 특정하며 -1, -2 와 같이 리스트의 마지막 요소부터 앞쪽으로 카운팅할 수 있음.
print(a)
a[1:3] = ['aaa', 9]           # 리스트 인덱스를 슬라이싱 [1:3], 스타트 인덱스 1, 스톱 인덱스 3 즉, 인덱스 1과 2에 해당하는 리스트 함옥이 대체 됨
print(a)
a[0] = ''
print(a)                      # ['', 'aaa', 9, 'a', True, (3, 4)]
a[1] = a[1].replace('a','c')  # a[1] 은 string 이기 때문에 str.replace() 메소드로 바꾸고 싶은 문자열로 변경할 수 있음.
print(type(a[1]))
a

#### list append , insert

In [40]:
# append
a = [1,2,3,'a',True,(3,4)]
a.append([3,4])
print(a)

[1, 2, 3, 'a', True, (3, 4), [3, 4]]

In [46]:
# insert
a = [1,2,3,'a',True,(3,4)]
a.insert(1, 'aaa')
print(a)                           
a.insert(2,(2,"que"))
print(a)

[1, 'aaa', 2, 3, 'a', True, (3, 4)]
[1, 'aaa', (2, 'que'), 2, 3, 'a', True, (3, 4)]

#### 리스트 부분 삭제

In [36]:
a = [1,2,3,'a',True,(3,4)]
del a[2]                             # a[2] 리스트 a 의 2번 인덱스 요소를 지움.
print(a)
print(a.remove(1))

[1, 2, 'a', True, (3, 4)]
None

#### 리스트 메소드

In [ ]:
# list.sort(), list.reverse()

In [32]:
a = [1,2,3,'a',True,(3,4)]
b = ['abc', 'def','lmn']
# list.sort(key= '키항목')   list.sort() 메소드는 동일 종류의 리스트내 요소들만 sorting 할 수 있음. 즉, string 은 string 끼리, 숫자는 숫자끼리
a=['qqq', 'abl', 'cde','qmj']   # 문자열로 구성된 리스트의  sort()
a.sort()
print(a)

c = [5, 3, 7, 9, 4]             # 숫자로 구성된 리스트의 sort()
c.sort()
print(c)


d= [(3, "공장"), (1,"창고"), (2, "부둣가")]      # d.sort(key = 비교하고자하는 키아이템,[reverse = False]) , 리스트 d 의 요소가 동일한 자료형인경우만 sorting 이 가능함.
d.sort(key=(lambda tpl: tpl[1]))                 # 리스트의 tuple 항목중 1번 인덱스에 해당하는 스트링을 기준으로 sorting 함.
print(d)

list.reverse(b)
print(b)

from operator import itemgetter, attrgetter

b = ['luv', 'abc','lmn']
b = sorted(b,key=(lambda str: str[1]))          # sorted(a, key) 함수는 key 값을 비교하기 위한 기준으로 sorting 된 결과를 반환하지만 리스트의 내용을 바꾸지난 
print(b)

['abl', 'cde', 'qmj', 'qqq']
[3, 4, 5, 7, 9]
[(3, '공장'), (2, '부둣가'), (1, '창고')]
['lmn', 'def', 'abc']
['abc', 'lmn', 'luv']

In [141]:
b = ['def', 'abc','lmn']
sorted(b, key=(lambda s:s[len(s)//2]))

['abc', 'def', 'lmn']

In [126]:
student_tuples = [
    ('john', 'A', 15),
    ('jane', 'B', 12),
    ('dave', 'B', 10),
]
sorted(student_tuples, key=lambda tpl: tpl[2])   # sort by age
                                                 # 반환결과는 : [('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

##### 리스트 인덱스

In [68]:
a = ['a','b','c']
a.index('b')         # 'b' 가 리스트 a 에 존재한다면, 그 'b' 가 리스트 내에 어느 인덱스로 지정할 수 있는지 반환. 이 경우는 a[1] 이 'b' 이기 때문에 1을 반환 함.

1

##### 리스트 pop 
- 리스트의 마지막 요소부터 꺼내고 꺼내어진 요소는 리스트로부터 제거함.

In [74]:
student_tuples = [
    ('john', 'A', 15),
    ('jane', 'B', 12),
    ('dave', 'B', 10),
]
print(student_tuples.pop())    # FILO 마지막 리스트이 요소부터 꺼내어지고 리스트로부터 제거 됨.
print(student_tuples)     

student_tuples = [
    ('john', 'A', 15),
    ('jane', 'B', 12),
    ('dave', 'B', 10),
]
print(student_tuples.pop(1))   # student_tuples의 인덱스 1번 요소를 추출하고 리스트로부터 제거
print(student_tuples)          # 인덱스1번 요소가 추출되고 남은 리스트 내용 출력

('dave', 'B', 10)
[('john', 'A', 15), ('jane', 'B', 12)]
('jane', 'B', 12)
[('john', 'A', 15), ('dave', 'B', 10)]

##### 리스트 카운트 
- 리스트에 포함된 요소 x 의 갯수 세기

In [80]:
a = [1,2,3,5,7,11,1,1]
a.count(1)                # 리스트 내에 1이라는 엘레멘트가 몇개가 포함되어 있는지 반환. 3 반환.리스트에 1이 3개가 있음.

3

##### 리스트확장 extend

In [82]:
a = [1,2,3,5,7,11,1,1]
a.extend([20,30])
print(a)

[1, 2, 3, 5, 7, 11, 1, 1, 20, 30]

### 딕셔너리 dictionary
- 딕셔너리 선언 , 입력
    : a={}, 또는 a = dict()
  1. 딕셔너리 {"key":"value"} 로 구성된 구조
     1.1 {'키1':3, '키2':'뮤'}

#### 딕셔너리 선언

In [51]:
a = {}
b = dict()
print(type(a))
print(type(b))

<class 'dict'>
<class 'dict'>

#### 딕셔너리 입력

In [64]:
# 딕셔너리 입력
a = {'키1':3, '키2':'뮤'}
print(type(a))
print(a)

<class 'dict'>
{'키1': 3, '키2': '뮤'}

#### 딕셔너리 엘레멘트 삭제

##### del 메소드 이용

In [9]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
del my_dict['b']
print(my_dict)  # {'a': 1, 'c': 3}

{'a': 1, 'c': 3}

##### pop 메소드 이용

In [11]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
value = my_dict.pop('b')
print(my_dict)  # {'a': 1, 'c': 3}
print(value)    # 2

{'a': 1, 'c': 3}
2

##### popitem() 메소드 이용

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
item = my_dict.popitem()
print(my_dict)  # {'a': 1, 'b': 2}
print(item)     # ('c', 3)

##### clear() 메서드 이용

In [13]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict.clear()
print(my_dict)  # {}

{'a': 1, 'b': 2, 'c': 3}

dict_keys(['a', 'b', 'c'])

##### 이해(list comprehension)를 통한 딕셔너리 재구성: 특정 조건을 만족하는 키-값 쌍만 남기고 다시 딕셔너리를 구성합니다.

In [14]:
my_dict = {'a': 1, 'b': 0, 'c': 3}
my_dict = {k: v for k, v in my_dict.items() if v != 0}
print(my_dict)  # {'a': 1, 'c': 3}

{'a': 1, 'c': 3}

#### 딕셔너리 사용 예제

In [83]:
# 학생들의 성적을 저장하는 딕셔너리
grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 78,
    'David': 90
}

# 평균 성적 계산
total = sum(grades.values())
average = total / len(grades)

print(f"평균 성적: {average:.2f}")

평균 성적: 86.25

In [95]:
grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 78,
    'David': 90
}
print(grades.values())
print(sum([3,4,5]))
print('total = ',sum(grades.values()))
print('평균 = ', sum(grades.values())/len(grades))

dict_values([85, 92, 78, 90])
12
total =  345
평균 =  86.25

#### 딕셔너리 엘레멘트 지정 수정

In [119]:

# 딕셔너리 데이터에 접근하는 것은 키를 통해서 접근하게 됨
a = {'키1':3, '키2':'뮤'}
print(a['키1'])           # '키1' 의 키에 대응하는 value 인 3 이 출력됨.
a[1] ='중'                # 딕셔너리의 a[1] 여기서 1은 키값으로 키값이 기존 딕셔너리 내부에 없으면 추가 {'키1': 3, '키2': '뮤', 1: '중'}
a['키2'] = '구'
print(a)
a[1] = '상'
print(a)

3
{'키1': 3, '키2': '구', 1: '중'}
{'키1': 3, '키2': '구', 1: '상'}

#### 딕셔너리 이용한 예제 프로그램 코드

In [160]:
# "hello world hello python world python dictionalry" 에 단어가 몇 개씩 중복되었는지 dictionary 로 counting 해서 출력 {'hello' : 2, 'world':2, 'python':2, 'dictionalry':1}
# 단어 빈도수를 저장하는 딕셔너리

text = "hello world hello python world python dictionary"
word_count = dict()
for word in text.split():     # text.split() 는 문자열을 리스트로 분리해 줌.
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1
print(word_count)

{'hello': 2, 'world': 2, 'python': 2, 'dictionary': 1}

In [150]:
# 학생들의 성적을 저장하는 딕셔너리
grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 78,
    'David': 90
}
student_grades = grades.values()
print(student_grades)
Total = sum(student_grades)
print('Total = \t', Total)
print('Average = \t', Total/len(student_grades))

dict_values([85, 92, 78, 90])
Total = 	 345
Average = 	 86.25

In [ ]:
# 학생들의 성적을 저장하는 딕셔너리 방법1
grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 78,
    'David': 90
}

# 평균 성적 계산
total = sum(grades.values())
average = total / len(grades)

print(f"평균 성적: {average:.2f}")

In [154]:
# 학생들의 성적을 저장하는 딕셔너리 방법2
grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 78,
    'David': 90
}
total = 0
for grade in grades:
    total += grades[grade]

print('Total = \t',total)
print('Average = \t', total/len(grades))

Total = 	 345
Average = 	 86.25

In [158]:
# 학생들의 성적을 저장하는 딕셔너리의 value 를 split() 메소드로 추출하고 해당 추출 결과를 list로 만들어 활요 방법2
grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 78,
    'David': 90
}
grades_values = list(grades.values())
total = 0
for grades_value in grades_values:
    total += grades_value
print('Total = \t', total)
print('Average = \t',total/len(grades))

Total = 	 345
Average = 	 86.25

In [159]:
# 학생들의 성적을 저장하는 딕셔너리의 각 요소를 key 와 value 로 for 문에서 받고 iterable 은 grades 방법3
grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 78,
    'David': 90
}
total = 0
for key, value in grades.items():
    total += value

print('Total = \t', total)
print('Average = \t', total/len(grades))

Total = 	 345
Average = 	 86.25

### 튜플 tuple

#### 튜플 선언

In [164]:
t = ()
print(type(t))
t1 = tuple()
print(type(t1))

<class 'tuple'>
<class 'tuple'>

#### 튜플 입력

In [169]:
# Tuple 입력
t =()                           # 빈 튜플 
t2 = (1.0)                      # 요소가 1.0 인 튜플, ( ) 로 튜플을 입력
t3 = (1,2,3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

#### 튜플 엘레멘트 삭제 / 수정 
- 튜플 요소의 삭제/수정은 불가.

### 집합 set

## 변수와 입력

### 변수 만들기 / 사용하기
- 변수 = 값

In [42]:
pi = 3.141592

print(pi, pi*2)

3.141592 6.283184